<body>
  <div class="pagePadding">
    <div class="navbar">
      <div class="navLeft">
        <h1>
          B<span>o</span>wls <span>o</span>f C<span>o</span>de
        </h1> 
      </div>
      
      <div class="navRight">
        <div class="navRightTop">
          
          <a class="navButton" routerLink="">Home</a>
          <a class="navButton" routerLink="/about">About</a>
          <a class="navButton" routerLink="/projects">Projects</a>
          <img (click)="onClick()" id="hamburgerIcon" src="../assets/images/hamburger.png">
          
        </div>   
        <div class="navRightBottom"> 
          <div class="navRightBottomRight">

            <app-menu *ngIf="isClicked"></app-menu>

          </div>
        </div>  
      </div>
    
    </div>
    <div class="pageBody"> 

      <router-outlet></router-outlet>

    </div>

    <div class="footer">
      <p>
        Copyright 2021
      </p>
    </div>
  </div>      
</body>
